<div class="d-flex justify-content-center pt-5">
    <div class="card" style="width: 800px">
        <div class="progress border" style="height: 5px"><div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" [ngStyle]="{ 'width': progress + '%' }"></div></div>
        <img class="card-img-top border" style="height: 600px" src="{{ stateMachineService.getImage() }}">
        <div class="card-body pb-5">
            <div class="row">
                <div class="col-9">
                    <button class="btn {{ button.key }} mx-2" *ngFor="let button of buttons | keyvalue" (click)="clickButton(button.value)">{{ button.value }}</button>
                </div>
                <div class="col-3">
                    <input class="form-control text-center text-lowercase" placeholder="{{ stateMachineService.getText() }} {{ progress }}%" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
<app-graveyard></app-graveyard>
