<div class="screen">
    <div class="column">
        <div class="states">
            <app-visual-state image="{{ image }}" class="state"></app-visual-state>
            <app-verbal-state text="{{ bubble }}" class="state"></app-verbal-state>
        </div>
        <div class="buttons">
            <app-button buttonText="{{ stateMachineService.buttons[1] }}" (buttonClick)="onClick($event)"></app-button>
            <app-button buttonText="{{ stateMachineService.buttons[2] }}" (buttonClick)="onClick($event)"></app-button>
            <app-button buttonText="{{ stateMachineService.buttons[3] }}" (buttonClick)="onClick($event)"></app-button>
            <app-button buttonText="{{ stateMachineService.buttons[4] }}" (buttonClick)="onClick($event)"></app-button>
            <app-button buttonText="{{ stateMachineService.buttons[5] }}" (buttonClick)="onClick($event)"></app-button>
        </div>
    </div>
</div>