.button-extension {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 80px;
    width: 120px;
    margin: 5px;
}

button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: white;
    font-size: 20px;
    color: lightgreen;
    cursor: crosshair;
    box-shadow: 0 9px #999;
}

button:hover {
    background-color: lightgoldenrodyellow;
}

button:active {
    background-color: lightgoldenrodyellow;
    box-shadow: 0 5px rgb(102, 102, 102);
    transform: translateY(4px);
}