<div class="virtual-pet">
    <div class="virtual-pet-column">
        <div class="progress" style="height: 2px;"><div class="progress-bar bg-info" role="progressbar" [ngStyle]="{ 'width': progress + '%' }" aria-valuenow="{ progress }" aria-valuemin="0" aria-valuemax="100"></div></div>
        <div class="state-row">
            <app-image image="{{ image }}"></app-image>
            <app-bubble bubble="{{ bubble }}"></app-bubble>
        </div>
        <div class="button-row">
            <app-button *ngFor="let buttonText of stateMachineService.getButtons().slice(0, 3)" buttonText="{{ buttonText }}" (buttonClick)="onClick($event)"></app-button>
        </div>
        <div class="button-row">
            <app-button *ngFor="let buttonText of stateMachineService.getButtons().slice(3, 6)" buttonText="{{ buttonText }}" (buttonClick)="onClick($event)"></app-button>
        </div>
    </div>
</div>
