@media (min-width: 800px) {
    .virtual-pet-column {
        width: 50%;
    }
}

@media (max-width: 800px) {
    .virtual-pet-column {
        width: 410px;
    }
    app-bubble {
        display: none;
    }
}

.virtual-pet {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    animation: flicker 1.75s linear infinite;
    display: flex;
    justify-content: center;
}

@keyframes flicker {
    0% {
        background-color: white;
    }
    25% {
        background-color: lightblue;
    }
    50% {
        background-color: lightyellow;
    }
    75% {
        background-color: lightpink;
    }
    100% {
        background-color: white;
    }
}

.virtual-pet-column {
    height: 80%;
    margin-top: 50px;
    border: 1px solid green;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.state-row {
    display: flex;
    align-items: flex-end;
    flex: 4;
}

.button-row {
    display: flex;
    flex: 1;
}

app-image app-bubble {
    flex: 1;
}

app-button {
    flex: 1;
}